<h1>Listing characteristics</h1>

<table>
  <tr>
    <th>Detail</th>
    <th>Thing</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characteristics.each do |characteristic| %>
  <tr>
    <td><%= characteristic.detail %></td>
    <td><%= characteristic.thing %></td>
    <td><%= link_to 'Show', characteristic %></td>
    <td><%= link_to 'Edit', edit_characteristic_path(characteristic) %></td>
    <td><%= link_to 'Destroy', characteristic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Characteristic', new_characteristic_path %>
