<h1>Listing appreciations</h1>

<table>
  <tr>
    <th>Thing</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appreciations.each do |appreciation| %>
  <tr>
    <td><%= appreciation.thing.name %></td>
    <td><%= appreciation.user.name %></td>
    <td><%= link_to 'Show', appreciation %></td>
    <td><%= link_to 'Edit', edit_appreciation_path(appreciation) %></td>
    <td><%= link_to 'Destroy', appreciation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appreciation', new_appreciation_path %>
