<p id="notice"><%= notice %></p>
<h1>Appreciate</h1>
<h2>Thing:</h2>
<p>
  <%= @appreciation.thing.name %>
</p>
<hr>
<h2>User:</h2>
<p>
  <%= @appreciation.user.name %>
</p>


<%= link_to 'Edit', edit_appreciation_path(@appreciation) %> |
<%= link_to 'Back', appreciations_path %>
