<h1>
  Here's some things.
</h1>

<%= link_to_function 'New Thing', "$('#new_thing').submit()", :class => 'new-button' %>
<%= form_for Thing.new do |f| %>
  <%= f.text_field :name %>
<% end %>

<ul class='sort'>
  <span>Sorting:</span>
  <li><%= link_to 'alphabetical', {:sort => 'alphabetical'} %></li>
  <li><%= link_to 'newest', {:sort => 'newest'} %></li>
  <li><%= link_to 'by user', {:sort => 'by_user'} %></li>
</ul>

<ul class='things list clearfix'>
	<% @things.each do |thing| %>
 		<li>
 		  <%= link_to thing.name, thing %>
		</li>
	<% end %>
</ul>
<br />