<p id="notice"><%= notice %></p>

<p>
  <b><%= @thing.name %></b>
</p>

<% if current_user %>
  <% if current_user.appreciates?(@thing) %>
    You appreciate this.
  <% else %>
    <%= link_to 'I appreciate this!', appreciations_path(:appreciation => {:user_id => current_user.id, :thing_id => @thing.id}), :method => :post, :remote => true, :id => 'appreciate_link' %>
  <% end %>

  <% if current_user.possesses?(@thing) %>
    You possess this.
  <% else %>
    <%= link_to 'I possess this.', possessions_path(:possession => {:user_id => current_user.id, :thing_id => @thing.id}), :method => :post, :remote => true, :id => 'possess_link' %>
  <% end %>
  
  <% if current_user.aspires_to_use?(@thing) %>
    You would like to use this.
  <% else %>
    <%= link_to 'I want to use this.', aspirations_path(:aspiration => {:user_id => current_user.id, :thing_id => @thing.id}), :method => :post, :remote => true, :id => 'aspire_link' %>
  <% end %>
  
<% end %>

<p>
  <b>Make:</b>
  <%= @thing.make %>
</p>

<p>
  <%= image_tag @thing.photo_url %>
</p>

<p>
  <%= link_to @thing.url, @thing.url %>
</p>

<p>
  <b>Description:</b>
  <%= @thing.description %>
</p>



<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>

<%= content_for :fb_og_meta_tags do %> 
  <meta property="og:type" content="utilization:thing" /> 
  <meta property="og:title" content="<%= @thing.name %>" /> 
  <meta property="og:image" content="<%= @thing.photo_url %>" /> 
  <meta property="og:description" content="<%= @thing.description %>" /> 
  <meta property="og:url" content="<%= thing_url @thing %>">
<% end %>