<p id="notice"><%= notice %></p>

<p>
  <b>Thing:</b>
  <%= @like.thing.name %>
</p>

<p>
  <b>User:</b>
  <%= @like.user.name %>
</p>


<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
