<p id="notice"><%= notice %></p>

<h1>
  <%= @user.first_name %>   <%= @user.last_name %> 
</h1>

<figure>
  <%= image_tag @user.avatar_url if @user.avatar_url.present? %>
</figure>
<hr>
<div id="appreciates" class='about'>
	<label>Likes:</label>
	<ul>
	<% @user.appreciated_things.each do |thing| %>
	  <li>
	    <%= link_to thing.name, thing %>
	    <%= text_field_tag dom_id(thing, :detail_about), nil, :placeholder => 'Why:', :class => 'explanation', :'data-thing_id' => thing.id %>
	    <ul id="<%= dom_id(thing, :details_on) %>">
  	    <% thing.patronages.by_user(@user).each do |c| %>
  	      <li><%= c.detail.text %></li>
  	    <% end %>
  	  </ul>
	  </li>
	<% end %>
	</ul>
</div>
<hr>
<div id="possessions" class='about'>
	<label>Has:</label>
	<ul>	
	<% @user.possessed_things.each do |thing| %>
	  <li><%= link_to thing.name, thing %></li>
	<% end %>
	</ul>	
</div>
<hr>
<div id="aspirations" class='about'>
	<label>Wants to use:</label>
	<ul>	
	<% @user.aspired_things.each do |thing| %>
	  <li><%= link_to thing.name, thing %></li>
	<% end %>
	<ul>	
</div>
