<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <%= image_tag @user.photo_url %>
</p>

<div id="appreciates">
	Likes:<hr>
	<% @user.appreciated_things.each do |thing| %>
	  <%= link_to thing.name, thing %>
	<% end %>
</div>

<div id="possessions">
	Has:<hr>
	<% @user.possessed_things.each do |thing| %>
	  <%= link_to thing.name, thing %>
	<% end %>
</div>

<div id="aspirations">
	Wants to use:<hr>
	<% @user.aspired_things.each do |thing| %>
	  <%= link_to thing.name, thing %>
	<% end %>
</div>
