<h1>Listing patronages</h1>

<table>
  <tr>
    <th>Characteristic</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patronages.each do |patronage| %>
  <tr>
    <td><%= patronage.characteristic %></td>
    <td><%= patronage.user %></td>
    <td><%= link_to 'Show', patronage %></td>
    <td><%= link_to 'Edit', edit_patronage_path(patronage) %></td>
    <td><%= link_to 'Destroy', patronage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patronage', new_patronage_path %>
