<p id="notice"><%= notice %></p>
<h1>Have</h1>

<h2>Thing:</h2>
<p>
  <%= @possession.thing.name %>
</p>
<hr>
<h2>User:</h2>
<p>
  <%= @possession.user.name %>
</p>


<%= link_to 'Edit', edit_possession_path(@possession) %> |
<%= link_to 'Back', possessions_path %>
