<%= form_for(@have) do |f| %>
  <% if @have.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@have.errors.count, "error") %> prohibited this have from being saved:</h2>

      <ul>
      <% @have.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :thing %><br />
    <%= f.select :thing_id, options_from_collection_for_select(Thing.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
