<h1>Listing haves</h1>

<table>
  <tr>
    <th>Thing</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @haves.each do |have| %>
  <tr>
    <td><%= have.thing.name %></td>
    <td><%= have.user.name %></td>
    <td><%= link_to 'Show', have %></td>
    <td><%= link_to 'Edit', edit_have_path(have) %></td>
    <td><%= link_to 'Destroy', have, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Have', new_have_path %>
