<p id="notice"><%= notice %></p>
<h1>Would like to</h1>
<p>
  <h2>Thing:</h2>
  <%= @aspiration.thing.name %>
</p>
<hr>
<p>
  <h2>User:</h2>
  <%= @aspiration.user.name %>
</p>


<%= link_to 'Edit', edit_aspiration_path(@aspiration) %> |
<%= link_to 'Back', aspirations_path %>
