<p id="notice"><%= notice %></p>

<p>
  <b>Thing:</b>
  <%= @aspiration.thing.name %>
</p>

<p>
  <b>User:</b>
  <%= @aspiration.user.name %>
</p>


<%= link_to 'Edit', edit_aspiration_path(@aspiration) %> |
<%= link_to 'Back', aspirations_path %>
